<h1>Entries#new</h1>
<p>Find me in app/views/entries/new.html.erb</p>
<%= form_tag("/entry") do %>
  Title: <input type="text" name="title" />
  Description: <input type="text" name="description" />
  Proposal
  image
  <%= hidden_field_tag "contest_id", params[:contest_id] %>
  <%= submit_tag "Submit" %>
<% end %>
