<div class="title">Welcome to the Fab Lab Contests Page</div>

<% @contests.each do |c| %>
  <div class="<%= c.active_contest? ? "active-contest" : "inactive-contest" %>">
    <%= link_to c.title, "/contest/#{c.id}/#{c.title.gsub(' ', '-')}" %>
  </div>
<% end %>
