// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.words
{
  word-wrap: break-word;
}
.voting_arrow {
    height:50px;
    width:50px;
}

.voting_arrow:hover {
    cursor:pointer;
}

.thumbnail {
    height:240px;
    width:320px;
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.8; /*initial opacity of images*/
}

.thumbnail:hover{
    //-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}

.description{
  margin: 10px 0px 10px 0px;
  padding: 5px;
  background-color: #DEF0FF;
  border: 1px solid #7697B5;
  border-radius: 5px;
}

.contest-title{
  font-size:36px
}

.description a
{
  color: black;
  text-decoration: none;
  font-size: 12px;
}

.description .rules
{
  margin: 0px 0px 0px 10px;
  border-right: solid 1px  #7697B5;
  width: 50px;
}
.description .words
{
  position: absolute;
  margin: 0px 0px 0px 70px;
}

.about-contest
{
  font-size: 12px;
}

.completed-project
{
  background-color: #FFB5BC;
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #DB3949;
  border-radius: 5px;
}

.project-ongoing
{
  background-color: #C9FFD0;
  margin: 10px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 1px solid #63CF70;
  font-size: 12px;
}

.top-sep
{
  height: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.count-up
{
  font-size: 20px;
  font-weight: bold;
}

.entry-content
{
  position: absolute;
  margin: 0px 0px 0px 100px;
}
